[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sendgrid = "*"
slackclient = "*"
drssms = {git = "https://github.com/hvgab/drssms.git"}

[dev-packages]
chromalog = "*"

[requires]
python_version = "3.6"
